.swiper {
    width: 100%;
    height: 100%;
  }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.8);
    filter: drop-shadow(7px 4px 20px rgba(0, 0, 0, 0.8));
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    /* -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; */
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 95%;
    object-fit: cover;
    filter: brightness(82%) invert(1%) drop-shadow(7px 4px 20px rgba(0, 0, 0, 0.25));
  }
  .swiper-pagination .swiper-pagination-bullet {
    width: 25px;
    height: 2px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    opacity: 1;
    background: #747474;
    border-radius: 0;
  }
  .swiper-pagination .swiper-pagination-bullet-active {
    background: #fff;
  }